%h2 log in
= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  .row
    = f.label :name, 'Username'
    = f.text_field :name, autofocus: true
  .row
    = f.label :password
    = f.password_field :password
  - if devise_mapping.rememberable?
    .row
      = f.label :remember_me
      = f.check_box :remember_me
  .row.buttons
    = f.submit "log in", class: 'button small'
= render "devise/shared/links"
